.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

#messageInp {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

body {
    background-image: linear-gradient(#4D55F9, #F9A34D);
    height: 100vh;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    padding: 33px;
    overflow-y: auto;
    margin: auto;
    height: 60vh;
    margin-bottom: 23px;
}

.message {
    background-color: rgb(208, 203, 203);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}